img{
    height:300px;
    width:100%;
}
.name{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Young Serif', serif;
}
.hero{
    background-image: url(https://thumbs.dreamstime.com/b/business-conference-people-sitting-hall-watching-presentation-business-conference-people-sitting-hall-144401560.jpg);
    
    height:400px;
    width:100%;
}
.box {
    background-color: rgba(11, 11, 11, 0.6);
    backdrop-filter: blur(5px);
    height:400px;
    width:100%;
  }
.text{
    
    color: white;
    padding: 150px;
}
.same{
    font-family: 'Dancing Script', cursive;
}
.yo{
    display: flex;
    justify-content: center;
    align-items: center;
}