/* default styling. Nothing to do with freexing first row and column */
main {display: flex;}
main > * {border: 1px solid;}
table {border-collapse: collapse; font-family: helvetica}
td, th {border: 1px ;
      padding: 10px;
      min-width: 200px;
      background-color: rgb(36, 9, 48);
      box-sizing: border-box;
      text-align: left;
      color:white;
}
.table-container {
  position: relative;
  max-height:  1000px;
  width:auto;
  overflow: scroll;
  background-color: rgb(48, 14, 64);
  margin:20px;
}
.green{
    background-color: green;
    color: aliceblue;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(303, 82%, 11%);
}

thead th:first-child {
  left: 0;
  z-index: 3;
}

tfoot {
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
}

tfoot td {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

tfoot td:first-child {
  z-index: 3;
}

tbody {
  overflow: scroll;
  height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  
  left: 0; 
}
/* don't do this */
tr > :first-child {
  box-shadow: inset 0px 1px black;
}
tr > :second-child {
    position: -webkit-sticky;
    position: sticky; 
    background: hsl(180, 50%, 70%);
    left: 0; 
  }
  /* don't do this */
  tr > :second-child {
    box-shadow: inset 0px 1px black;
  }



